*{
    margin: 0;
    padding: 0;
}

.body{
    min-height: 100vh;
    width: 98%;
    background-color: gainsboro;
    background-image: url(../img/img-background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.bodyLogin{
    min-height: 100vh;
    width: 98%;
    background-color: gainsboro;
    background-image: url(../img/img-background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navbar{
    height: 10vh;
    background-color: red !important;
    position: fixed;
    width: 100%;
    border: solid white 2px;
    z-index: 5;
}

.navbar-brand{
    font-size: 200%;
    margin-left: 50px;
    margin-right: 60px;
}

.menuDesplegable{
    background-color: red;
}

.nav-item{
    margin-right: 30px;
}

.opcionesNav{
    visibility: visible;
}

.totalNav2{
    color: white;
    font-size: 120%;
}

#varibleTotal{
    color: white;
    font-size: 120%;

}

.navbar a{
    color: white !important;
    font-weight: bolder;
}

.navbar a:hover{
    color: black !important;
}

.mainIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.formularioLogin{
    background-color: goldenrod;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 400px;
    /*justify-self: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloLogin{
    margin-bottom: 35px;
}

.tituloRegistro{
    margin-bottom: 35px;
}

#btnRegistro{
    display: block;
    margin-top: 30px;
    background-color: red;
    border: solid red 2px;
}

#btnRegistro:hover{
    color: black;
    font-weight: bolder;
}

#btnLogin{
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: red;
    border: solid red 2px;
}

#btnLogin:hover{
    color: black;
    font-weight: bolder;
}

#btnRegistroLogin{
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: red;
    border: solid red 2px;  
}

#btnRegistroLogin:hover{
    color: black;
    font-weight: bolder;
}

.btnCarrito2{
    background-color: red;
    border: solid white 2px;
}

.btnCarrito2:hover{
    background-color: white;
    font-weight: bolder;
    color: red;
    border: solid red 2px;
}

.btnCarrito2:focus{
    background-color: red;
    color: white;
    border: solid white 2px;
}

.productoEliminar{
    background-color: red;
    color: white;
    font-weight: bolder;
    height: 44px;
    width: 40px;
    padding: 8px;
}

.buscadorNavbar{
    height: fit-content;
}

.botonNavbar{
    border: solid white 2px;
    color: white;
}

.flexDelForm{
    align-items: center;
}

.form-controlLogin{
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

#sectionJS{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

#menu{
    margin-bottom: 100px;
}

.tituloMenu{
    display: block;
    width: 100vw;
    margin: 30px;
    margin-top: 100px;
}

.card{
    margin: 20px;
    background-color: red;
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

.btnCard{
    background-color: gainsboro;
    border: solid orange 2px;
    color: black;
    
}

.btnCard:hover{
    border: solid white 3px;
    background-color: red;
    color: white;
    font-weight: bolder;
}

.btnCard:focus{
    background-color: gainsboro;
    border: solid orange 2px;
    color: black;
}

.card-img-top{
    width: 286px;
    height: 190px;
}

.card-body{
    width: 286px;
    min-height: 244px;
}

.productoEnCarrito div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modalTituloProducto{
    display: inline;
    margin-right: 30px auto;
    font-weight: bolder;
    margin: 8px;
}

.productoEnCarrito div p{
    display: inline;
    margin-right: 30px;
    margin: 8px;
}

.productoEnCarrito div button{
    display: inline;
    position: relative;
    padding: 8px;
}


.btn-primary{
    --bs-btn-focus-shadow-rgb: none;
}

.modal-footer{
    justify-content: space-between;
}

.footer{
    height: 10vh;
    position: fixed;
    background-color: red;
    margin-top: 90vh;
    width: 100%;
    border: solid white 2px;
    z-index: 5;
}

.footer ol{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 100%;
    align-items: center;
}

.footer ol li{
    list-style: none;
}

.footer ol li a{
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 120%;
    transition: all 0.5s;
}

.footer ol li a:hover{
    color: black;
    font-weight: bolder;
    font-size: 125%;
}

#footerMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btnFooter{
    background-color: red;
    border: solid white 2px;
    margin-top: 25px;
}

.btnFooter:hover{
    background-color: white;
    font-weight: bolder;
    color: red;
    border: solid red 2px;
}

.btnFooter:focus{
    background-color: red;
    border: solid white 2px;
    color: white;
}

.modal-body-historico{
    border-bottom: solid black 1px;
}



@media(max-width:991px){
    .buscadorNavbar{
        margin-bottom: 15px;
    }
    
    .botonNavbar{
        margin-bottom: 15px;
    }

    .btnCarrito2{
        visibility: visible;
    }


    .totalNav2{
        visibility: visible;
    }
}