*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: gainsboro;
}

.navbar{
    height: 10vh;
    background-color: red !important;
}

.navbar-brand{
    font-size: 200%;
    margin-left: 50px;
    margin-right: 60px;
}

.menuDesplegable{
    background-color: red;
}

.nav-item{
    margin-right: 30px;
}

.opcionesNav{
    visibility: visible;
}

.totalNav{
    color: white;
    font-size: 120%;
}

#varibleTotal{
    color: white;
    font-size: 120%;

}

.navbar a{
    color: white !important;
    font-weight: bolder;
}

.navbar a:hover{
    color: black !important;
}

.btnCarrito{
    background-color: red;
    border: solid white 2px;
    margin-top: 5px;
}

.btnCarrito:hover{
    background-color: white;
    font-weight: bolder;
    color: red;
    border: solid red 2px;
}

.btnCarrito2{
    visibility: hidden;
    background-color: red;
    border: solid white 2px;
}

.btnCarrito2:hover{
    background-color: white;
    font-weight: bolder;
    color: red;
    border: solid red 2px;
}

.buscadorNavbar{
    height: fit-content;
}

.botonNavbar{
    border: solid white 2px;
    color: white;
}

.flexDelForm{
    align-items: center;
}

.formularioLogin{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-controlLogin{
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

#sectionJS{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.pulsadoresMain{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.divDePulsadores{
    justify-items: center;
}

.pulsadorIndividual{
    margin-top: 50px;
    width: 300px;
    background-color: red;
    border: solid white 1px;
}

.pulsadorIndividual:focus{
    color: white;
    background-color: red;
    border: solid white 1px;
}

.pulsadorIndividual:hover{
    color: black;
    background-color: white;
    border: solid red 2px;
    font-weight: bold;
}

.btn-primary{
    --bs-btn-focus-shadow-rgb: none;
}

@media(max-width:991px){
    .buscadorNavbar{
        margin-bottom: 15px;
    }
    
    .botonNavbar{
        margin-bottom: 15px;
    }

    .btnCarrito2{
        visibility: visible;
    }

    .btnCarrito{
        visibility: hidden;
    }
}