*{
    margin: 0;
    padding: 0;
}

.body{
    min-height: 100vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.navbar{
    height: 10vh;
    background-color: red !important;
}

.navbar-brand{
    font-size: 200%;
    margin-left: 50px;
    margin-right: 60px;
}

.menuDesplegable{
    background-color: red;
}

.nav-item{
    margin-right: 30px;
}

.opcionesNav{
    visibility: visible;
}

.totalNav{
    color: white;
    font-size: 120%;
}

#varibleTotal{
    color: white;
    font-size: 120%;

}

.navbar a{
    color: white !important;
    font-weight: bolder;
}

.navbar a:hover{
    color: black !important;
}

.mainIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioLogin{
    background-color: goldenrod;
    border-radius: 20px;
    margin-top: 30px !important;
    margin-bottom: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 400px;
    justify-self: center;
}

.tituloLogin{
    margin-bottom: 35px;
}

.tituloRegistro{
    margin-bottom: 35px;
}

#btnRegistro{
    display: block;
    margin-top: 30px;
    background-color: red;
    border: solid red 2px;
}

#btnRegistro:hover{
    color: black;
    font-weight: bolder;
}

#btnLogin{
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: red;
    border: solid red 2px;
}

#btnLogin:hover{
    color: black;
    font-weight: bolder;
}

#btnRegistroLogin{
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: red;
    border: solid red 2px;  
}

#btnRegistroLogin:hover{
    color: black;
    font-weight: bolder;
}

.btnCarrito{
    background-color: red;
    border: solid white 2px;
    margin-top: 5px;
}

.btnCarrito:hover{
    background-color: white;
    font-weight: bolder;
    color: red;
    border: solid red 2px;
}

.btnCarrito:focus{
    background-color: red;
    border: solid white 2px;
    margin-top: 5px;
}

.btnCarrito2{
    visibility: hidden;
    background-color: red;
    border: solid white 2px;
}

.btnCarrito2:hover{
    background-color: white;
    font-weight: bolder;
    color: red;
    border: solid red 2px;
}

.btnCarrito2:focus{
    background-color: red;
    color: white;
    border: solid white 2px;
}

.productoEliminar{
    background-color: red;
    color: white;
    font-weight: bolder;
}

.buscadorNavbar{
    height: fit-content;
}

.botonNavbar{
    border: solid white 2px;
    color: white;
}

.flexDelForm{
    align-items: center;
}

.formularioLogin{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-controlLogin{
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

#sectionJS{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
    justify-content: center;
    align-items: center;
}

.tituloMenu{
    display: block;
    width: 100vw;
    margin: 30px;
}

.card{
    margin: 20px;
    background-color: red;
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

.btnCard{
    background-color: gainsboro;
    border: solid orange 2px;
    color: black;
    
}

.btnCard:hover{
    border: solid white 3px;
    background-color: red;
    color: white;
    font-weight: bolder;
}

.btnCard:focus{
    background-color: gainsboro;
    border: solid orange 2px;
    color: black;
}

.productoEnCarrito div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modalTituloProducto{
    display: inline;
    margin-right: 30px auto;
    font-weight: bolder;
    margin: 8px;
}

.productoEnCarrito div p{
    display: inline;
    margin-right: 30px;
    margin: 8px;
}

.productoEnCarrito div button{
    display: inline;
    position: relative;
    padding: 8px;
}

.pulsadoresMain{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.divDePulsadores{
    justify-items: center;
}

.pulsadorIndividual{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    background-color: red;
    border: solid white 1px;
}

.pulsadorIndividual:focus{
    color: white;
    background-color: red;
    border: solid white 1px;
}

.pulsadorIndividual:hover{
    color: black;
    background-color: white;
    border: solid red 2px;
    font-weight: bold;
}

.btn-primary{
    --bs-btn-focus-shadow-rgb: none;
}

.footer{
    height: 10vh;
    background-color: red;
    margin-top: 0 auto;
}






@media(max-width:991px){
    .buscadorNavbar{
        margin-bottom: 15px;
    }
    
    .botonNavbar{
        margin-bottom: 15px;
    }

    .btnCarrito2{
        visibility: visible;
    }

    .btnCarrito{
        visibility: hidden;
    }
}